<div class="conteudo">
	<div id="omedico" class="omedico">
		<div class="container">
			<div class="col-md-6 wow fadeInLeft animated" data-wow-delay="0.2s">
				<img src="images/layout/medico.png" alt="Rogério Vilas Boas">
			</div>
			<div class="col-md-6">
				<h1 class="wow fadeInDown animated" data-wow-delay="0.2s">Dr. Rogério Vilas Boas</h1>
				<h3 class="wow fadeInDown animated" data-wow-delay="0.3s">Cirurgião Plástico</h3>
				<h4 class="wow fadeIn animated" data-wow-delay="0.3s"><span>CRM-BA 21072</span>&bull;<span>RQE 13980</span></h4>
				<ul class="wow fadeInUp animated" data-wow-delay="0.3s">
					<li>Graduação em Medicina<span>Escola Bahiana de Medicina e Saúde Pública (6 anos)</span></li>
					<li>Residência Médica em Cirurgia Geral<span>Hospital Santo Antônio (2 anos)</span></li>
					<li>Residência Médica em Cirurgia Plástica<span>Hospital Universitário Prof. Edgard Santos - UFBA (3 anos)</span></li>
					<li>Subespecialização em Microcirurgia<span>Hospital Aristides Maltez (1 ano)</span></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="cirurgias" class="cirurgias">
		<h1>Cirurgias</h1>
		<div class="col-md-3">
			<img src="images/layout/lipo.jpg" alt="Lipoaspiração">
			<h4>Lipoaspiração</h4>
			<p>É indicada para o tratamento de gorduras localizadas isto é, aquelas que persistem mesmo com dieta e exercícios físicos. Confere ao paciente um melhor contorno corporal.</p>
		</div>
		<div class="col-md-3">
			<img src="images/layout/proteses-de-mama.jpg" alt="Próteses de Mama">
			<h4>Próteses de Mama</h4>
			<p>É indicada nos casos de pacientes com mamas volumosas, pesadas e desproporcionais que causam além da alteração estética, sobrecarga na coluna e consequentemente vício postural e dores nas costas.</p>
		</div>
		<div class="col-md-3">
			<a href="#">
				<img src="images/layout/face.jpg" alt="Face">
				<h4>Face</h4>
				<p>A face é o foco principal das mudanças decorrentes do envelhecimento. A perda de elasticidade e turgor da pele e a queda progressiva dos tecidos acentuam os vincos e o excesso de pele na face e pescoço.</p>
			</a>
		</div>
		<div class="col-md-3">
			<img src="images/layout/pos-emagrecimento.jpg" alt="Pós-emagrecimento">
			<h4>Pós-emagrecimento</h4>
			<p>A perda drástica de peso associada a cirurgia bariátrica (cirurgia para redução de estômago) ou não levam a alterações corporais importantes.</p>
		</div>
	</div>
	{m:dicas}
	<div id="dicas" class="dicas">
		<div class="container">
			<h1>Dicas</h1>
			<div class="col-sm-12 col-md-4 wow fadeInLeft animated">
				<i class="fa fa-quote-left col-md-2 col-md-offset-1" aria-hidden="true"></i>
				<p class="col-md-8">{m:dicas1}</p>
			</div>
			<div class="col-sm-12 col-md-4 wow fadeIn animated" data-wow-delay="0.3s">
				<i class="fa fa-quote-left col-md-2 col-md-offset-1" aria-hidden="true"></i>
				<p class="col-md-8">{m:dicas2}</p>
			</div>
			<div class="col-sm-12 col-md-4 wow fadeInRight animated">
				<i class="fa fa-quote-left col-md-2 col-md-offset-1" aria-hidden="true"></i>
				<p class="col-md-8">{m:dicas3}</p>
			</div>
			<div class="col-sm-12 col-md-12 wow fadeInUp animated"><a href="dicas">Veja mais dicas</a></div>
		</div>
	</div>
	{/m:dicas}
</div>