<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{m:wwwroot}/images/layout/favicon.png" type="image/ico">
        <link href="{m:wwwroot}/css/back_end/main.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet" type="text/css">
        <title>{m:title}</title>
    </head>
    <body>
        <div class="loginWrapper">
            <div class="loginLogo"><img src="{m:wwwroot}/images/layout/logo.png" alt=""></div>
            <div class="loginPanel">
                <div class="head">
                    <h5 class="iUser">Acesso</h5>
                </div>
                <form action="" id="valid" class="mainForm" method="post">
                    <fieldset>
                        <div class="loginRow noborder">
                            <label for="req1">Usuário:</label>
                            <div class="loginInput">
                                <input type="text" name="email" class="required email" id="req1">
                            </div>
                            <div class="fix"></div>
                        </div>
                        <div class="loginRow">
                            <label for="req2">Senha:</label>
                            <div class="loginInput">
                                <input type="password" name="senha" class="required" id="req2">
                            </div>
                            <div class="fix"></div>
                        </div>
                        <div class="loginRow">
                            <input type="submit" value="Acessar" class="greyishBtn submitForm">
                            <div class="fix"></div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div id="footer">
            <div class="wrapper"> 
                <span>&copy; Copyright 2012. Todos os direitos reservados. <a href="//eblue.com.br" target="_blank" title="eblue marking value">eblue marking value</a></span>
            </div>
        </div>
    </body>
</html>