<div class="content" id="container">
    <div class="title">
        <h5>{m:title_page}</h5>
    </div>
    <form method="post" action="adicionar" id="valid" class="mainForm">
        <fieldset>
            <div class="widget">
                <div class="head">
                    <h5 class="iAdd">Adicionar conteúdo</h5>
                </div>
                <div class="rowElem noborder">
                    <label>Página:</label>
                    <div class="formRight">
                        <select class="required" name="idMenu" id="idMenu">
                            <option value="">Selecione</option>
                            {m:pagina}
                            <option value="{m:value}" {m:selected}>{m:text}</option>
                            {/m:pagina}
                        </select>
                    </div>
                    <div class="fix"></div>
                </div>
                <div class="rowElem">
                    <label>Título:</label>
                    <div class="formRight">
                        <input type="text" class="required maxlength" maxlength="255" name="titulo" id="titulo" />
                    </div>
                    <div class="fix"></div>
                </div>
                <div class="rowElem">
                    <label>Resumo:</label>
                    <div class="formRight">
                        <textarea class="maxlength" maxlength="255" name="resumo" id="resumo"></textarea><div style="float: right;">Restam: <font id="charsLeft" color="red">250</font></div>
                    </div>
                    <div class="fix"></div>
                </div>
                <div class="rowElem">
                    <label>Descrição:</label>
                    <div class="formRight" style="margin: 11px 12px 8px 0;">
                        {m:fckeditor}
                    </div>
                    <div class="fix"></div>
                </div>
                <div class="rowElem">
                    <label>Fonte:</label>
                    <div class="formRight">
                        <input type="text" name="fonte" class="maxlength" maxlength="255" id="fonte"/>
                    </div>
                    <div class="fix"></div>
                </div>
                <div class="rowElem">
                    <label>Url da fonte:</label>
                    <div class="formRight">
                        <input type="text" name="url" class="maxlength" maxlength="255" id="url"/>
                    </div>
                    <div class="fix"></div>
                </div>
                <div class="rowElem">
                    <label>Destaque:</label>
                    <div class="formRight">
                        <input type="checkbox" name="destaque" id="destaque"/>
                    </div>
                    <div class="fix"></div>
                </div>
                <div class="rowElem">
                    <label>Mostrar data:</label>
                    <div class="formRight">
                        <input type="checkbox" checked="checked" name="mostrarData" id="mostrarData" value="1"/>
                    </div>
                    <div class="fix"></div>
                </div>
                <div class="rowElem">
                    <label>Não expira a data:</label>
                    <div class="formRight">
                        <input type="checkbox" id="expira"/>
                    </div>
                    <div class="fix"></div>
                </div>
                <div class="rowElem">
                    <label>Data início:</label>
                    <div class="formRight">
                        <input type="text" class="required calendar" name="dataIni" id="dataIni"/>
                    </div>
                    <div class="fix"></div>
                </div>
                <div class="rowElem dt">
                    <label>Data final:</label>
                    <div class="formRight">
                        <input type="text" class="required calendar" name="dataFim" id="dataFim"/>
                    </div>
                    <div class="fix"></div>
                </div>
                <div class="rowElem">
                    <label>Ativo:</label>
                    <div class="formRight">
                        <input type="checkbox" checked="checked" name="ativo" id="ativo" value="1"/>
                    </div>
                    <div class="fix"></div>
                </div>
                <div class="rowElem">
                    <div class="formRight">
                        <input type="submit" value="Salvar" class="greyishBtn submitForm" />
                        <input type="reset" onclick="javascript:history.back(-1);" value="Cancelar" class="greyishBtn submitForm" />
                    </div>
                    <div class="fix"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
